target/
!.mvn/wrapper/maven-wrapper.jar
*.pid
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.lck
logs
/target/
log
/.fastRequest/
pom-xml-flattened